body {
    background-color: #fff;
    margin: 5% 10%;
}

header {
    color: lightskyblue;
    font-family: "Arial";
    font-size: 48px;
    font-weight: bold;
}

header:after
{
    content:' ';
    display:block;
    border:2px solid lightskyblue;
}

thead {
    background-color: #222;
    color: whitesmoke;
}

table {
    border-collapse: collapse;
    border-spacing: 10cm;
    border-color: lightslategray;
    text-align: left;
    width: 100%;
    font-family: "Arial";
}

.stock{
    font-weight: bold;
    font-size: 36px;
}

table td {
    padding: 15px 30px;
    background: whitesmoke;
}

table th {
    background: lightskyblue;
    padding: 15px;
    color: black;
    border: white solid 1px;
}

table tr:nth-child(odd) td {
    background: white;
}

.searchtext{
    font-size: 24px;
    /*font-weight: bolder;*/
    color: tomato;
    margin-bottom: 0px;
    padding-bottom: 0px;
}

.searchbutton{
    width: 160px;
    height: 48px;
    font-size: 32px;
    font-weight: bold;
}

td {
    border: 1px solid white;
}

table thead tr th {
    border-bottom: 5px solid slategrey;
}

.buttons{
    display: flex;
}
button {
    padding: 4px 1px 4px 1px;
    width: 20%;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 24px;
    font-weight: bold;
    border: 3px solid orangered;
    border-radius: 5px;
    margin: 0px 4px;
    margin-bottom: 0px;
    background-color: orangered;
    color: white;
}

.searchbutton{
    margin-bottom: 0px;
    padding: 0px 4px 0px 4px !important;
    position: relative;
    top: 5px;
}

.searchfield{
    width: 84%;
    height: 40px;
    border: 3px solid tomato;
    border-radius: 10px;
    margin-bottom: 3px;
    font-size: 22px;
}