body {
    padding: 0 5% 0 5%;
    background-color: beige;
    color: darkblue;
    font-family: Helvetica, Arial, sans-serif;
}

h1, hr {
    color: blue;
}

nav button {
    padding: 6px 12px 3px 12px;
    font-family: Helvetica, Arial, sans-serif;
    border: 1px solid darkblue;
    border-radius: 4px;
    margin: 3px 6px;
}

table {
    width: 100%;
    margin-top: 30px;
}

td, th {
    padding: 6px 3px;
}

th {
    background-color: darkblue;
    color: white;
    text-align: center;
}

#name {
    width: 20%;
}

#description {
    width: 50%;
}

#price, #quantityOfStock  {
    width: 15%;
    text-align: right;
}

#name-h {
    width: 20%;
}

#description-h {
    width: 50%;
}

#price-h, #quantityOfStock-h  {
    width: 15%;
    text-align: center;
}