<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="height=device-height, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" media="screen" href="loginstyle.css" />
    <link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.no-icons.min.css" rel="stylesheet">
    <link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">
</head>

<body>
<main>
    <header>
        <p>ACCOUNT LOGIN</p>
    </header>
    <div class="inputfields">
        <p>USERNAME</p>
        <form action="/login" method="post">
            <input type="text" id="name" name="name" size="50" height="30">
            <label for="name"></label>
            <div>
                <button onclick="location.href='/login'" class="Login" type="submit"><p class="login">Login</p></button>
            </div>
        </form>
<!--        <p>PASSWORD</p>-->
<!--        <form>-->
<!--            <i class="fa icon"></i>-->
<!--            <input type="password" id="password" name="password" size="50">-->
<!--            <label for="password"></label>-->
<!--            -->
<!--        </form>-->
    </div>
    <div class="forgot">
        <p>Forgot password?</p>
    </div>

</main>
</body>

</html>