#all{
    margin: 2% 20% auto 20%;
    line-height: 1.6;
    font-family: 'Montserrat', sans-serif;
    font-size: 10px;
}
#my-name{
    color: #3a3b3a;
    font-family: 'Abril Fatface', cursive;
    font-size: 36px;
    position: absolute;
    top: 30%;
    left: 35%;
    transform: translate(-50%, -50%);
}
#anakin{
    color: #3a3b3a;
    font-family: 'Abril Fatface', cursive;
    font-size: 48px;
    position: absolute;
    top: 38%;
    left: 48%;
    transform: translate(-50%, -50%)
}
.section{
    margin-top: 5%;
    margin-bottom: 4%;
    font-size: 20px;
    font-weight: 600;
}
.quote{
    content: no-close-quote;
    margin: 5% 0 0 0;
    padding: 5% 0 5% 0;
    background-color: #424242;
    color: whitesmoke;
    font-size: 34px;
    font-family: 'Abril Fatface', cursive;
}
.work-place{
    font-size: 14px;
    font-weight: 500;
    margin-bottom: 1%;
}
.job-title{
    font-size: 12px;
    font-style: italic;
}
#personal-interests{
    border-top: 2px solid black;
}