<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>

<h2>Todos for today</h2>


<form action="/add-todo" method="post">
    <label for="title"> Name </label>
    <input type="text" id="title" name="title">
    <br>
    Urgent?
    <input type="radio" id="yes" name="urgent" value="yes">
    <label for="yes">Yes</label>
    <input type="radio" id="no" name="urgent" value="no">
    <label for="no">No</label>
    <br>
    Done?
    <input type="radio" id="done" name="done" value="yes">
    <label for="yes">Yes</label>
    <input type="radio" id="undone" name="done" value="no">
    <label for="no">No</label>

    <button type="submit"> Save</button>
</form>

<table>
    <tr> <th>ID</th>
        <th>Action</th>
        <th>Urgent</th>
        <th>Done</th>
    <th>Delete</th>
    <th>Edit</th>
    </tr>
    <tr th:each="todo: ${todoList}">
        <td th:text="${todo.id}"></td>
        <td th:text="${todo.title}"></td>
        <td th:text="${todo.urgent}"></td>
        <td th:text="${todo.done}"></td>
        <td><a th:href="'/delete-todo/' + ${todo.id}">Delete</a></td>
        <td><a th:href="'/edit-todo/' + ${todo.id}">Edit</a></td>
        <!--        <td><a th:href="'/delete-pizza/' + ${pizza.id}">Delete by path variable</a></td>-->
        <!--        <td><a th:href="'/delete-pizza?id=' + ${pizza.id}">Delete by request param</a></td>-->
    </tr>
</table>


</body>
</html>